<!doctype html>
<html ng-app="ql">
<head>
<!--[if lt IE 9]>
      <script >
      	window.location.href = '/upgrade';
      </script>
    <![endif]-->
<script src="js/vendor/jquery-2.0.3.min.js"></script>
<script src="js/vendor/angular.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/angular-translate.min.js"></script>
<script src="js/vendor/angular-route.min.js"></script>
<script src="js/vendor/angular-strap.min.js"></script>
<script src="js/vendor/angular-slide.min.js"></script>

<script src="js/app.js"></script>
<script src="js/global/settingsService.js"></script>
<script src="js/route.js"></script>
<script src="js/translations.js"></script>
<script src="js/main/mainCtrl.js"></script>
<script src="js/loans/myLoansCtrl.js"></script>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/angular-slide.min.css">
<link rel="stylesheet" href="css/custom.css">
</head>
<body>
	<div class="container" bs-navbar>
		<div class="header" >
			<ul class="nav nav-pills pull-right">
				<li data-match-route="/main"><a href="#/main">{{ 'menu_home' | translate }}</a></li>
				<li data-match-route="/my-loans"><a href="#/my-loans">{{ 'menu_my_loans' | translate }}</a></li>
			</ul>
			<h3 class="text-muted">{{ 'header' | translate }}</h3>
		</div>
		<div ng-show="loadingView">
		    <h3>{{ 'loading_header' | translate }}</h3>
			<div class="progress progress-striped active">
				<div class="progress-bar" role="progressbar" aria-valuenow="45"
					aria-valuemin="0" aria-valuemax="100" style="width: 45%">
					<span class="sr-only">{{ 'loading' | translate }}</span>
				</div>
			</div>
		</div>
		<div ng-view> </div>
	</div>
</body>
</html>