<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="dismiss()">&times;</button>
      <h4 class="modal-title">{{'login_form_title' | translate}}</h4>
    </div>
    <div class="modal-body">
      <form role="form" name="loginForm" novalidate ng-submit="login()">
        <div class="form-group" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty}">
          <label for="email">{{'login_form_email' | translate}}</label>
          <input type="email" ng-model="user.email" class="form-control" id="email" name="email" placeholder="{{'login_form_email' | translate}}" required>
          <span ng-show="loginForm.email.$invalid && loginForm.email.$dirty">
            <span ng-show="loginForm.email.$error.required" class="help-block">{{'login_form_email_req' | translate}}</span>
            <span ng-show="loginForm.email.$error.email" class="help-block">{{'login_form_email_valid' | translate}}</span>
          </span>
        </div>
        <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
          <label for="password">{{'login_form_password' | translate}}</label>
          <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="{{'login_form_password' | translate}}" required name="password">
           <span ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
            <span ng-show="loginForm.password.$error.required" class="help-block">{{'login_form_pass_req' | translate}}</span>
          </span>
        </div>
        <div class="form-group" ng-hide="existingCustomer" ng-class="{'has-error': loginForm.passwordRepeat.$invalid && loginForm.passwordRepeat.$dirty}">
          <label for="loginRepeatPassword">{{'login_form_password_repeat' | translate}}</label>
          <input type="password" ng-model="user.passwordRepeat" class="form-control" id="passwordRepeat" name="passwordRepeat" placeholder="{{'login_form_password' | translate}}" ng-required="!existingCustomer" value-match value-match-enabled="{{!existingCustomer}}" value-match-to="{{user.password}}">
          <span ng-show="loginForm.passwordRepeat.$invalid && loginForm.passwordRepeat.$dirty">
            <span ng-show="loginForm.passwordRepeat.$error.required" class="help-block">{{'login_form_pass_req' | translate}}</span>
            <span ng-show="loginForm.passwordRepeat.$error.valueMatch" class="help-block">{{'login_form_pass_not_match' | translate}}</span>
          </span>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="existingCustomer"> {{'login_form_first_time' | translate}}
          </label>
        </div>
          <button type="button" class="btn btn-default" ng-click="dismiss()">{{'cancel' | translate}}</button>
          <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">{{'login_form_login' | translate}}</button>
      </form>
    </div>
    <div class="modal-footer">

    </div>
  </div>
</div>
