<!doctype html>
<html ng-app="ql">
<head>
<!--[if lt IE 9]>
      <script >
      	window.location.href = '/upgrade.html';
      </script>
    <![endif]-->
<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/angular-slider/angular-slider.min.css">
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
</head>
<body>

	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>

	<!-- build:js scripts/plugins.js -->
	<script src="bower_components/bootstrap-sass/js/affix.js"></script>
	<script src="bower_components/bootstrap-sass/js/alert.js"></script>
	<script src="bower_components/bootstrap-sass/js/dropdown.js"></script>
	<script src="bower_components/bootstrap-sass/js/tooltip.js"></script>
	<script src="bower_components/bootstrap-sass/js/modal.js"></script>
	<script src="bower_components/bootstrap-sass/js/transition.js"></script>
	<script src="bower_components/bootstrap-sass/js/button.js"></script>
	<script src="bower_components/bootstrap-sass/js/popover.js"></script>
	<script src="bower_components/bootstrap-sass/js/carousel.js"></script>
	<script src="bower_components/bootstrap-sass/js/scrollspy.js"></script>
	<script src="bower_components/bootstrap-sass/js/collapse.js"></script>
	<script src="bower_components/bootstrap-sass/js/tab.js"></script>
  <script src="bower_components/accounting/accounting.js"></script>
	<!-- endbuild -->

	<!-- build:js scripts/modules.js -->
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-slider/angular-slider.js"></script>
	<script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
  <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap.js"></script>
  <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/config.js"></script>
	<script src="scripts/services/settings.js"></script>
	<script src="scripts/modules/translations.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/myLoans.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/directives/loginForm.js"></script>
  <script src="scripts/directives/valueMatch.js"></script>
  <script src="scripts/services/login.js"></script>
<script src="scripts/controllers/loanApply.js"></script>
<script src="scripts/services/loan.js"></script>
	<!-- endbuild -->

	<div class="container" bs-navbar>
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li ui-route="/main"><a href="#/main">{{'menu_home' | translate }}</a></li>
				<li ui-route="/loan/my"><a href="#/my-loans">{{'menu_my_loans' | translate }}</a></li>
			</ul>
			<h3 class="text-muted">{{ 'header' | translate }}</h3>
		</div>
		<div ng-show="loadingView">
			<h3>{{ 'loading_header' | translate }}</h3>
			<div class="progress progress-striped active">
				<div class="progress-bar" role="progressbar" aria-valuenow="45"
					aria-valuemin="0" aria-valuemax="100" style="width: 45%">
					<span class="sr-only">{{ 'loading' | translate }}</span>
				</div>
			</div>
		</div>
    <div login-form></div>
		<div ng-view></div>
	</div>
</body>
</html>
