<div class="panel panel-primary">
	<div class="panel-heading">{{ 'loan_apply_header' | translate }}</div>
	<div class="panel-body">
	<div class="alert alert-danger" ng-show="applicationFailed">
		{{ 'loan_apply_failed' | translate }}
	</div>
	<div class="alert alert-info" ng-hide="loan.amount">
	{{ 'loan_apply_please_wait' | translate }}
	</div>
	<div ng-show="loan.amount">
		<ul>
		<li> <b>{{ 'loan_apply_amount' | translate }}</b> {{loan.amount | currency}} </li>
		<li> <b>{{ 'loan_apply_total' | translate }}</b> {{loan.total | currency}} </li>
		<li> <b>{{ 'loan_apply_return_date' | translate }}</b> {{loan.returnDate | date}} </li>
		</ul>
		<button type="button" class="btn btn-primary btn-lg" ng-click="confirm()">{{ 'loan_apply_ok' | translate }}</button>
	</div>
	</div>
</div>