<h1><small>{{ 'main_marketing_text' | translate }}</small></h1>
<div class="panel panel-primary">
	<div class="panel-heading">{{ 'loan_header' | translate }}</div>
	<div class="panel-body">
		<div class="pull-left" style="width:80%">
			<div class="row">
				<div class="col-md-1 loan-input-middle text-primary">{{
					'loan_amount' | translate }}</div>
				<div class="col-md-8">
					<slider class="loan-slider" floor="{{settings.amount.min}}"
						ceiling="{{settings.amount.max}}" step="{{settings.amount.step}}"
						precision="0" ng-model="amount"></slider>
				</div>
				<div class="col-md-3 loan-input-middle">
					<input class="form-control input-sm loan-input" type="text"
						placeholder=".input-sm" ng-model="amount">
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 loan-input-middle text-primary">{{
					'loan_duration' | translate }}</div>
				<div class="col-md-8">
					<slider class="loan-slider" floor="{{settings.duration.min}}"
						ceiling="{{settings.duration.max}}"
						step="{{settings.duration.step}}" precision="0"
						ng-model="duration"></slider>
				</div>
				<div class="col-md-3 loan-input-middle">
					<input class="form-control input-sm loan-input" type="text"
						placeholder=".input-sm" ng-model="duration">
				</div>
			</div>
		</div>
		<div class="pull-right" style="width:20%">
			<p>{{ 'loan_header_amount' | translate }} {{amount | currency }}</p>
			<p>{{ 'loan_header_duration' | translate }} {{duration}}</p>
			<p>{{ 'loan_header_return' | translate }} {{total | currency}}</p>
			<p>{{ 'loan_header_our_part' | translate }} {{interests | currency}}</p>
      <button type="button" class="btn btn-primary btn-lg pull-right" ng-click="apply()">{{ 'loan_apply' | translate }}</button>
		</div>

	</div>
</div>
<div class="clearfix"></div>
